/Android/BebopDronePiloting/.idea/
/Android/BebopDronePiloting/BebopDronePiloting.iml
/Android/BebopDronePiloting/app/app.iml
/Android/RollingSpiderPiloting/.idea/
/Android/RollingSpiderPiloting/RollingSpiderPiloting.iml
/Android/RollingSpiderPiloting/app/app.iml
