/Android/BebopDronePilotingNewAPI/.idea/
/Android/BebopDronePilotingNewApi/BebopDronePiloting.iml
/Android/BebopDronePilotingNewAPI/app/app.iml
/Android/BebopDronePiloting/.idea/
/Android/BebopDronePiloting/BebopDronePiloting.iml
/Android/BebopDronePiloting/app/app.iml
/Android/RollingSpiderPiloting/.idea/
/Android/RollingSpiderPiloting/RollingSpiderPiloting.iml
/Android/RollingSpiderPiloting/app/app.iml
/iOS/BebopDronePiloting/BebopDronePiloting/BebopDronePiloting.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iOS/BebopDronePiloting/BebopDronePiloting/BebopDronePiloting.xcodeproj/project.xcworkspace/xcshareddata/BebopDronePiloting.xccheckout
/iOS/BebopDronePiloting/BebopDronePiloting/BebopDronePiloting.xcodeproj/project.xcworkspace/xcuserdata/d.bertrand.xcuserdatad/UserInterfaceState.xcuserstate
/iOS/BebopDronePiloting/BebopDronePiloting/BebopDronePiloting.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/BebopDronePiloting.xcscheme
/iOS/BebopDronePiloting/BebopDronePiloting/BebopDronePiloting.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/xcschememanagement.plist
/iOS/RSPilotingNewAPI/RSPilotingNewAPI/RSPilotingNewAPI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iOS/RSPilotingNewAPI/RSPilotingNewAPI/RSPilotingNewAPI.xcodeproj/project.xcworkspace/xcshareddata/RSPilotingNewAPI.xccheckout
/iOS/RSPilotingNewAPI/RSPilotingNewAPI/RSPilotingNewAPI.xcodeproj/project.xcworkspace/xcuserdata/d.bertrand.xcuserdatad/UserInterfaceState.xcuserstate
/iOS/RSPilotingNewAPI/RSPilotingNewAPI/RSPilotingNewAPI.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/RSPilotingNewAPI.xcscheme
/iOS/RSPilotingNewAPI/RSPilotingNewAPI/RSPilotingNewAPI.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/xcschememanagement.plist
/iOS/RollingSpiderPiloting/RollingSpiderPiloting/RollingSpiderPiloting.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iOS/RollingSpiderPiloting/RollingSpiderPiloting/RollingSpiderPiloting.xcodeproj/project.xcworkspace/xcshareddata/RollingSpiderPiloting.xccheckout
/iOS/RollingSpiderPiloting/RollingSpiderPiloting/RollingSpiderPiloting.xcodeproj/project.xcworkspace/xcuserdata/d.bertrand.xcuserdatad/UserInterfaceState.xcuserstate
/iOS/RollingSpiderPiloting/RollingSpiderPiloting/RollingSpiderPiloting.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/RollingSpiderPiloting.xcscheme
/iOS/RollingSpiderPiloting/RollingSpiderPiloting/RollingSpiderPiloting.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/xcschememanagement.plist
