/iOS/SDKSample/SDKSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iOS/SDKSample/SDKSample.xcodeproj/project.xcworkspace/xcuserdata/d.bertrand.xcuserdatad/UserInterfaceState.xcuserstate
/iOS/SDKSample/SDKSample.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/iOS/SDKSample/SDKSample.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/SDKSample.xcscheme
/iOS/SDKSample/SDKSample.xcodeproj/xcuserdata/d.bertrand.xcuserdatad/xcschemes/xcschememanagement.plist

/iOS/SDKSample/ARSDK3_iOS/

/iOS/SDKSample/build
