<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.parrot.sdksample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DeviceListActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.UsbAccessoryActivityImpl"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:noHistory="true"
                  android:taskAffinity="com.parrot.sdk.usb">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/usb_accessory_filter" />
        </activity>
        <activity
            android:name=".activity.BebopActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".activity.SkyControllerActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".activity.SkyController2Activity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".activity.JSActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".activity.MiniDroneActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".activity.SwingDroneActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>
