*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/buildWithLocalSDK/.idea/
/buildWithPrecompiledSDK/.idea/
/buildWithLocalSDK/build/
/buildWithPrecompiledSDK/build/